---
name: build
on:
  - pull_request
  - push
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        config:
          - config/ping-esp32.yaml
          - config/ping.yaml
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install pipenv
        run: |
          pip install --user pipenv

      - name: Run pipenv
        run: |
          pipenv install

      - name: Compile ping.yaml
        run: |
          cp config/secrets.yaml.dist config/secrets.yaml
          pipenv run esphome compile ${{ matrix.config }}
